@use "@/styles/variables" as var;
@use "@/styles/mixins" as mix;
@use "@/styles/general" as gen;

.root {
  display: flex;
  flex-flow: row nowrap;
  height: 120px;
  border: 1px solid var.$text-color-light;
  border-radius: 0.5rem;

  > * {
    min-width: 0;
  }

  // @include mix.mq("md") {
  //   height: 160px;
  // }

  @include mix.theme("dark") {
    border-color: var.$text-color-dark;
  }
}

.image {
  flex-shrink: 0;
  overflow: hidden;
  border-inline-end: 1px solid var.$text-color-light;
  border-start-start-radius: calc(0.5rem - 1px);
  border-end-start-radius: calc(0.5rem - 1px);

  @include mix.theme("dark") {
    border-color: var.$text-color-dark;
  }
}

.image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.text {
  display: flex;
  flex-flow: column nowrap;
  gap: 0.25rem;
  justify-content: space-between;
  padding-block-start: 0.5rem;
  padding-inline: 0.5rem;

  > * {
    max-width: 100%;
  }
}

.title {
  font-size: 1rem;

  @include mix.line-clamp(2);
}

.description {
  display: none;
  font-size: 0.75rem;

  // @include mix.mq("md") {
  //   @include mix.line-clamp(2);
  // }
}

.host {
  inset-block-end: 0;
  inset-inline-start: 0.5rem;
  display: flex;
  flex-flow: row nowrap;
  gap: 0.25rem;
  place-items: center;
  justify-self: flex-end;

  > * {
    min-width: 0;
  }

  span {
    @include mix.line-clamp(1);
  }
}

.link:hover,
.link:focus {
  @include gen.hover(
    $bg-color: var.$theme-color-light,
    $bg: true,
    $color: false
  );

  @include mix.theme("dark") {
    @include gen.hover(
      $bg-color: var.$theme-color-dark,
      $bg: true,
      $color: false
    );
  }
}
