.container {
  display: flex;
  flex-flow: column nowrap;
  gap: 0.25rem;
}

.image {
  width: 100%;
  height: auto;
  border-radius: 0.5rem;
  object-fit: contain;
}

.caption {
  text-align: center;
}
