@use "/styles/general.scss" as gen;

.container {
  display: flex;
  flex-flow: column nowrap;
}

.image {
  @include gen.hover($shadow: true);

  width: 100%;
  height: auto;
  border-radius: 0.5rem;
  object-fit: contain;
}

.caption {
  text-align: center;
}
