$header-height: 80px;

.container {
  width: 100%;
  height: $header-height;
  border-top: 2px solid var(--border-color);
}

.header-inside {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: calc(100% - 2 * var(--content-margin));
  max-width: 1080px;
  height: 100%;
  margin-inline: auto;
}
