@use "/styles/mixins" as mix;

$footer-height: 80px;

.container {
  position: sticky;
  width: 100%;
  height: $footer-height;
  background-color: var(--header-color);
  border-bottom: var(--border-style);
}

.header-inside {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: calc(100% - 2 * var(--content-margin));
  max-width: 1080px;
  height: 100%;
  margin-inline: auto;

  a {
    color: #fff;
    text-decoration: none;
  }
}

.title {
  font-size: 1rem;
  font-weight: 700;
  @include mix.mq("md", min) {
    font-size: 1.5rem;
  }
}
