$footer-height: 80px;

.container {
  position: sticky;
  width: 100%;
  height: $footer-height;
  background-color: var(--header-color);
  border-bottom: var(--border-style);
}

.header-inside {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: calc(100% - 2 * var(--content-margin));
  max-width: 1080px;
  height: 100%;
  margin-inline: auto;
}

.title {
  font-size: 2rem;
  font-weight: 700;
}
