@use "/styles/mixins" as mix;
@use "/styles/variables" as var;
@use "/styles/general" as gen;

.container {
  position: sticky;
  width: 100%;
  height: var.$header-height;
}

.header-inside {
  @include gen.set-layout;

  display: flex;
  align-items: center;
  justify-content: space-between;
}

.hero {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  @include mix.mq("md", max) {
    img {
      display: none;
    }
  }
}

.title {
  font-size: 1rem;
  font-weight: 700;
  @include mix.mq("md", min) {
    font-size: 1.5rem;
  }
}
