@use "/styles/variables" as var;
@use "/styles/mixins" as mix;

.root {
  max-width: var.$layout-max-width;
  height: calc(100% - var.$header-height - var.$footer-height);
  padding-inline: var.$layout-padding-sp;
  margin-inline: auto;

  @include mix.mq("md") {
    padding-inline: var.$layout-padding;
  }

  @include mix.mq("2xl") {
    max-width: var.$layout-max-width-2xl;
  }
}
