@use "/styles/variables" as var;
@use "/styles/mixins" as mix;

.icon {
  width: auto;
  height: 100%;
}

.card {
  display: flex;
  flex-flow: row nowrap;
  gap: 0.5em;
  align-items: flex-start;
  width: 100%;
  padding: var.$content-margin;
  margin-inline: auto;
  border-radius: 0.5rem;

  // colors got from Microsoft docs
  // https://learn.microsoft.com/ja-jp/windows/wsl/wsl-config
  // light theme's color is 8% darken than the original
  &__warn {
    background-color: #fdecbf;

    @include mix.theme("dark") {
      background-color: #6a4b16;
    }
  }

  &__alert {
    background-color: #fdd8df;
    @include mix.theme("dark") {
      background-color: #630001;
    }
  }

  &__info {
    background-color: #e3b5f9;
    @include mix.theme("dark") {
      background-color: #3b2e58;
    }
  }
}
