@use "/styles/variables" as var;
@use "/styles/mixins" as mix;

.card {
  display: flex;
  flex-flow: row nowrap;
  gap: 1em;
  align-items: first baseline;
  width: 100%;
  padding: var.$content-margin;
  margin-inline: auto;
  border-radius: 0.5rem;

  // colors got from Microsoft docs
  // https://learn.microsoft.com/ja-jp/windows/wsl/wsl-config
  // light theme's color is 8% darken than the original
  &__warn {
    background-color: #fdecbf;

    @include mix.theme("dark") {
      background-color: #946b23;
    }
  }

  &__alert {
    background-color: #fdd8df;

    @include mix.theme("dark") {
      background-color: #ad3638;
    }
  }

  &__info {
    background-color: #77cbec;

    @include mix.theme("dark") {
      background-color: #377a8f;
    }
  }
}

.icon {
  position: relative;
  top: var.$icon-top;
  display: flex;
  align-items: center;
  width: auto;
  height: 100%;
}
