[data-footnote-ref="true"] {
  margin-left: 0.125em;
  font-weight: 700;

  &::before {
    content: "[";
  }

  &::after {
    content: "]";
  }
}

[data-footnote-backref="true"] {
  font-weight: 700;
}

.footnote-label {
  text-decoration: underline;
  text-underline-offset: 0.5em;
}
