@use "/styles/mixins" as mix;
@use "/styles/variables" as var;
@use "/styles/general.scss" as gen;

// .toc {
//   border: 1px solid rgba(var.$text-color-light, 0.2);
//   border-radius: 0.5rem;
//   @include mix.theme("dark") {
//     border: 1px solid rgba(var.$text-color-dark, 0.5);
//   }
// }

// 目次が存在しない場合は要素そのものを非表示にする
.toc:not(:has(li)) {
  display: none;
}

.toc-level {
  &:first-child::before {
    margin-block-end: 0.5rem;
    font-size: 1.5em;
    content: "目次";
  }

  display: flex;
  flex-flow: column nowrap;
  gap: 0.5em;
  width: 100%;
  padding: var.$content-margin;
  font-weight: 700;
  list-style: none;
  background-color: var.$theme-color-light-darker;
  border-radius: 0.5rem;

  @include mix.theme("dark") {
    background-color: var.$theme-color-dark-lighter;
  }
}

.toc-item {
  margin-block: 0.2em;

  // border-bottom: 2px solid rgba(var.$text-color-light, 0.25);

  // @include mix.theme("dark") {
  //   border-bottom: 2px solid rgba(var.$text-color-dark, 0.25);
  // }

  > a {
    display: inline-block;
    width: 100%;
  }
}

.toc-link.toc-link-h2::before {
  display: inline-block;
  margin-right: 0.125em;
  content: "📖";
}
