@use "@/styles/mixins" as mix;
@use "@/styles/variables" as var;
@use "@/styles/general.scss" as gen;

.link {
  @include gen.hover(
    var.$theme-color-light,
    $bg: true,
    $color: false,
    $shadow: true
  );

  @include mix.theme("dark") {
    @include gen.hover(
      var.$theme-color-dark,
      $bg: true,
      $color: false,
      $shadow: true
    );
  }
}

.card {
  // TODO: これは一時的なスタイル
  // あとから枠線つきでページ背景と合わせるなどのスタイルを検討する
  $bg-color: #c7c7c7;

  display: flex;
  flex-flow: column nowrap;
  gap: 0.5rem;
  height: 100%;
  padding-block-end: 1.25rem;
  color: var.$text-color-light;
  text-align: center;

  // background-color: $bg-color;
  border-radius: 0.5rem;
  outline: var.$ui-color-light 1px solid;

  @include mix.theme("dark") {
    $bg-color: #7e7e7e;

    color: var.$text-color-dark;
    outline: var.$ui-color-dark 1px solid;

    // background-color: $bg-color;
  }
}

.title {
  display: inline-block;
  padding-inline: 0.5rem;
  font-size: 1.25rem;
  font-weight: 700;
}

.thumbnail {
  position: relative;
  width: 100%;
  aspect-ratio: 16 / 9;
  margin-inline: auto;
  overflow: hidden;
  border-top-left-radius: 0.5rem;
  border-top-right-radius: 0.5rem;

  img {
    object-fit: cover;
  }
}
