@use "@/styles/variables" as var;
@use "@/styles/mixins" as mix;
@use "@/styles/general.scss" as gen;

.container {
  display: grid;
  grid-template-columns: repeat(4, minmax(0, 1fr));
  overflow: hidden;
  border-radius: 0.5rem;
  outline: var.$theme-color-dark-lighter solid 1px;

  @include gen.hover(
    $bg-color: var.$theme-color-light,
    $bg: true,
    $shadow: true
  );

  @include mix.theme("dark") {
    outline: var.$theme-color-light-darker solid 1px;

    @include gen.hover(
      $bg-color: var.$theme-color-dark,
      $bg: true,
      $shadow: true
    );
  }
}

.image {
  grid-column: span 1 / span 1;
  justify-self: end;
  width: auto;
  height: 100%;
  aspect-ratio: 1/1;
}

.detail {
  display: flex;
  flex-flow: column nowrap;
  grid-column: span 3 / span 3;
  padding: var.$content-margin;
  overflow: hidden;
}

.title {
  font-size: 1rem;
  font-weight: 700;
  text-overflow: ellipsis;

  @include mix.mq("md") {
    font-size: 1.25rem;
  }
}

.root {
  a {
    color: inherit;
  }

  a:hover,
  a:focus {
    color: inherit;
  }
}
