@use "/styles/mixins" as mix;
@use "/styles/variables" as var;

$spoiler-color-light: #8a8a9f;
$spoiler-color-dark: #4d4d5d;

.root {
  display: inline;
  padding-inline: 0.25em;
  margin-inline: 0.25em;
  background-color: $spoiler-color-light;
  @include mix.theme("dark") {
    background-color: $spoiler-color-dark;
  }

  border-radius: 0.25em;
}

.root[aria-expanded="false"] {
  color: transparent;
}

.root[aria-expanded="true"] {
  color: var.$text-color-light;
  @include mix.theme("dark") {
    color: var.$text-color-dark;
  }

  cursor: auto;
}
