@use "/styles/mixins" as mix;
@use "/styles/variables" as var;
@use "/styles/general.scss" as gen;

.link {
  text-decoration: none;
}

.card {
  // TODO: これは一時的なスタイル
  // あとから枠線つきでページ背景と合わせるなどのスタイルを検討する
  $bg-color: #e3e3e3;

  display: flex;
  flex-flow: column nowrap;
  gap: 0.5rem;
  height: 100%;
  padding: 1rem;
  color: var.$text-color-light;
  text-align: center;
  background-color: $bg-color;
  border-radius: 1rem;
  @include gen.hover($bg-color, $bg: true);

  @include mix.theme("dark") {
    $bg-color: #1b1b1b;

    color: var.$text-color-dark;
    background-color: $bg-color;
    @include gen.hover($bg-color, $bg: true);
  }
}

.title {
  display: inline-block;
  font-size: 1.25rem;
  font-weight: 700;
}

.thumbnail {
  position: relative;
  width: 100%;
  aspect-ratio: 16 / 9;
  margin-inline: auto;
  overflow: hidden;
  border-radius: 0.5rem;

  img {
    object-fit: cover;
  }
}
