.link {
  text-decoration: none;
}

.card {
  display: flex;
  flex-flow: column nowrap;
  gap: 1rem;
  padding: 1rem;
  text-align: center;

  // TODO light/dark mode
  background-color: #1b1b1b;
  border-radius: 1rem;
}

.title {
  display: inline-block;
  font-size: 1.25rem;
  font-weight: 700;
}

.thumbnail {
  position: relative;
  width: 100%;
  aspect-ratio: 16 / 9;
  margin-inline: auto;
  overflow: hidden;
  border-radius: 0.5rem;

  img {
    object-fit: cover;
  }
}
