@use "/styles/mixins" as mix;

.post-grid {
  display: grid;
  grid-template-columns: 1fr;
  gap: 1rem;
  width: 100%;

  @include mix.mq("md") {
    grid-template-columns: repeat(2, 1fr);
  }

  @include mix.mq("lg") {
    grid-template-columns: repeat(3, 1fr);
  }
}
