@use "/styles/mixins" as mix;
@use "/styles/variables" as var;

.section-root {
  padding: var.$layout-padding-sp;
  margin-block: var.$layout-margin;
  border-radius: 1rem;

  > * {
    margin-block: var.$content-margin;
  }

  > span {
    display: block;
  }

  @include mix.mq("md") {
    padding: var.$layout-padding;
  }

  @include mix.mq("md") {
    padding: var.$layout-padding;
  }
}
