@use "@/styles/mixins" as mix;
@use "@/styles/variables" as var;
@use "@/styles/general.scss" as gen;

// 目次が存在しない場合は要素そのものを非表示にする
.toc:not(:has(li)) {
  display: none;
}

.toc-level {
  &:first-child::before {
    font-size: 1.5em;
    content: "目次";
  }

  display: flex;
  flex-flow: column nowrap;
  gap: 0.625em;
  justify-content: center;
  padding: var.$content-margin;
  font-weight: 700;
  list-style: none;
  background-color: var.$theme-color-light-darker;
  border-radius: 0.5rem;

  @include mix.theme("dark") {
    background-color: var.$theme-color-dark-lighter;
  }
}

.toc-item {
  display: flex;
  flex-flow: column nowrap;
  margin-block: 0;
}

.toc-item:not(:last-child)::after {
  align-self: stretch;
  content: "";
  border: 1px solid var.$ui-color-light;

  @include mix.theme("dark") {
    border: 1px solid var.$ui-color-dark;
  }
}
