@use "/styles/mixins" as mix;
@use "/styles/variables" as var;

.section-root {
  padding-inline: var.$layout-padding-sp;
  margin-block: var.$layout-margin;
  margin-inline: auto;
  border-radius: 1rem;

  > * {
    margin-block: var.$content-margin;
  }

  > *:has(+ h2, + h3, + h4, + h5, + h6) {
    margin-block-end: calc(2 * #{var.$content-margin});
  }

  > span {
    display: block;
  }

  @include mix.mq("md") {
    padding-inline: var.$layout-padding;
  }
}
