@use "/styles/mixins" as mixin;

.container {
  width: 75%;
  padding-block: 2.5rem;
  padding-inline: 2.5rem;
  margin-block: 1rem;
  margin-inline: auto;
  background-color: rgb(255 255 255 / 70%);
  border-radius: 1rem;
  @include mixin.mq("lg") {
    width: 70%;
  }

  > h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    margin-block-end: 1.5rem;
    @include mixin.mq("lg", max) {
      font-size: 1.1rem;
    }
  }
}

@mixin content-base {
  margin-inline: auto;
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 1.85em;

  @include mixin.mq("lg", max) {
    font-size: 1rem;
  }
}

.content-normal {
  @include content-base;

  width: 75%;
  @include mixin.mq("lg", max) {
    width: 100%;
  }
}

.content-full-width {
  @include content-base;

  width: 100%;
}
