.root {
  position: relative;
  max-width: 100%;
  aspect-ratio: 4 / 3;
  border-radius: 0.5rem;
}

.root iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 0.5rem;
}
