@use "@/styles/mixins" as mix;
@use "@/styles/variables" as var;

.root {
  display: flex;
  flex-flow: column nowrap;
  place-content: center;
  place-items: center;
  height: inherit;
  padding-inline: var.$layout-padding-sp;
  margin-inline: auto;
  font-size: 1.5rem;
  text-align: center;
  border-radius: 1rem;

  > * {
    margin-block: var.$content-margin;
  }

  @include mix.mq("md") {
    padding-inline: var.$layout-padding;
    font-size: 2.5rem;
  }
}
