@use "@/styles/variables" as var;
@use "@/styles/mixins" as mix;
@use "@/styles/general.scss" as gen;

@mixin apply-color {
  color: var.$text-color-light;
  background-color: var.$theme-color-light;
  outline: var.$theme-color-dark solid 1px;

  @include gen.hover(
    var.$theme-color-light,
    $bg: true,
    $shadow: true,
    $transform: true
  );

  @include mix.theme("dark") {
    color: var.$text-color-dark;
    background-color: var.$theme-color-dark;
    outline: var.$theme-color-light solid 1px;

    @include gen.hover(
      var.$theme-color-dark,
      $bg: true,
      $shadow: true,
      $transform: true
    );
  }
}

.root {
  @include apply-color;

  padding: 0.75em;
  margin-inline: auto;
  font-size: 1.25rem;
  border-radius: 0.5em;
}
