// color
$theme-color-dark: #202020;
$theme-color-light: #f8f8f8;
$text-color-light: #151515;
$text-color-dark: #e2e2e2;
$hover-color: #257aea;

// layout
$layout-max-width: 1080px;
$layout-max-width-2xl: 1440px;
$layout-margin: 2rem;
$content-margin: 1rem;
$header-height: 80px;
$footer-height: 80px;
$layout-padding: 2.5rem;
$layout-padding-sp: 0.5rem;
