@use "/styles/mixins" as mix;
@use "/styles/variables" as var;

@mixin set-theme {
  color: var.$text-color-light;
  background-color: var.$theme-color-light;

  @include mix.theme("dark") {
    color: var.$text-color-dark;
    background-color: var.$theme-color-dark;
  }
}

@mixin set-layout {
  max-width: var.$layout-max-width;
  padding-inline: var.$layout-padding-sp;
  margin-block: var.$layout-margin;
  margin-inline: auto;
  @include mix.mq("md") {
    padding-inline: var.$layout-padding;
  }
  @include mix.mq("2xl") {
    max-width: var.$layout-max-width-2xl;
  }
}
