@use "/styles/mixins" as mix;
@use "/styles/variables" as var;
@use "sass:color";

@mixin set-theme {
  color: var.$text-color-light;
  background-color: var.$theme-color-light;

  @include mix.theme("dark") {
    color: var.$text-color-dark;
    background-color: var.$theme-color-dark;
  }
}

@mixin set-layout {
  max-width: var.$layout-max-width;
  padding-inline: var.$layout-padding-sp;
  margin-block: var.$layout-margin;
  margin-inline: auto;
  @include mix.mq("md") {
    padding-inline: var.$layout-padding;
  }
  @include mix.mq("2xl") {
    max-width: var.$layout-max-width-2xl;
  }
}

@mixin hover($color, $bg: false, $shadow: false) {
  $bg-color: color.adjust($color, $alpha: -0.5);
  $box-shadow: rgb(0 0 0 / 25%) 0 0.5em 0.5em;
  $transition: all 0.25s ease-in-out;

  &:hover,
  &:focus {
    color: var.$hover-color;
    @if $bg {
      background-color: $bg-color;
    }
    @if $shadow {
      box-shadow: $box-shadow;
    }

    transition: $transition;
  }
}
