@use "/styles/mixins" as mix;

:root {
  --text-color: #0f172a;
  --background-color: #73b2ee;
  --header-color: #2d8ce5;
  --border-color: #061c31;
  --border-style: 3px solid var(--border-color);
  --layout-margin: 2rem;
  --content-margin: 1rem;
}

@include mix.theme("dark") {
  :root {
    --text-color: #e2e2e2;
    --background-color: #0d3c68;
  }
}

body {
  display: flex;
  flex-flow: column nowrap;
  min-height: 100vh;
  font-family: var(--font-roboto), var(--font-noto-sans-jp), system-ui,
    -apple-system, blinkmacsystemfont, "Segoe UI", oxygen, ubuntu, cantarell,
    "Open Sans", "Helvetica Neue", sans-serif;
  color: var(--text-color);
  background-color: var(--background-color);
}

main {
  flex: 1;
  line-height: 1.8;
  letter-spacing: 0.025em;
}

code:not([class*="language-"]),
pre:not([class*="language-"]) {
  font-family: var(--font-fira-code), var(--font-noto-sans-jp), monospace;
  font-weight: 400;
}

/* stylelint-disable-next-line selector-max-id */
#main-container {
  width: calc(100% - 2 * var(--layout-margin));
  max-width: 1080px;
  margin-block: var(--layout-margin);
  margin-inline: auto;
  @include mix.mq("md", max) {
    width: 100%;
    padding-inline: 8px;
  }
}
