@use "/styles/mixins" as mix;

code {
  counter-reset: line;
}

code > .line::before {
  /* Other styling */
  display: inline-block;
  width: 1rem;
  margin-right: 2rem;
  color: #808080;
  text-align: right;
  content: counter(line);
  counter-increment: line;
}

/* stylelint-disable-next-line selector-no-qualifying-type */
code[data-line-numbers-max-digits="2"] > .line::before {
  width: 2rem;
}

/* stylelint-disable-next-line selector-no-qualifying-type */
code[data-line-numbers-max-digits="3"] > .line::before {
  width: 3rem;
}

/* stylelint-disable-next-line selector-no-qualifying-type */
div[data-rehype-pretty-code-fragment] {
  pre {
    padding-block: 0.5em;
    padding-inline: 1em;
    border-radius: 0.5em;
  }

  /* stylelint-disable-next-line selector-no-qualifying-type */
  > div[data-rehype-pretty-code-title] {
    padding-block: 0.25em;
    padding-inline: 1em;
    font-size: 1.1em;
    font-weight: 400;
    color: #e3e3e3;
    background-color: #4e5363;
    border-radius: 0.5em 0.5em 0 0;

    /* stylelint-disable-next-line max-nesting-depth */
    + pre {
      border-radius: 0 0 0.5em 0.5em;
    }
  }
}

@include mix.theme("light") {
  /* stylelint-disable-next-line selector-no-qualifying-type */
  div[data-rehype-pretty-code-fragment] {
    /* stylelint-disable-next-line selector-no-qualifying-type */
    div[data-theme="dark"],
    pre[data-theme="dark"],
    code[data-theme="dark"] {
      display: none;
    }
  }
}

@include mix.theme("dark") {
  /* stylelint-disable-next-line selector-no-qualifying-type */
  div[data-rehype-pretty-code-fragment] {
    /* stylelint-disable-next-line selector-no-qualifying-type */
    div[data-theme="light"],
    pre[data-theme="light"],
    code[data-theme="light"] {
      display: none;
    }
  }
}

p > code {
  padding-inline: 0.1em;
  margin-inline: 0.25em;
  background-color: #fff;
  border-radius: 0.25em;
  @include mix.theme("dark") {
    background-color: #292c34;
  }
}
