@use "/styles/mixins" as mix;
@use "/styles/variables" as var;

@mixin set-typography {
  h1 {
    margin-block-start: 2.5rem;
    margin-block-end: 1.5rem;
    font-size: 1.5rem;
    font-weight: 700;

    @include mix.mq("md") {
      font-size: 2.5rem;
    }
  }

  h2 {
    margin-block-start: 2.5rem;
    margin-block-end: 1.5rem;
    font-size: 1.375rem;
    font-weight: 700;

    @include mix.mq("md") {
      font-size: 2rem;
    }
  }

  h3 {
    margin-block-start: 2.5rem;
    margin-block-end: 1.5rem;
    font-size: 1.3rem;
    font-weight: 700;

    @include mix.mq("md") {
      font-size: 1.625rem;
    }
  }

  h4 {
    margin-block-start: 2.5rem;
    margin-block-end: 1rem;
    font-size: 1.225rem;
    font-weight: 700;

    @include mix.mq("md") {
      font-size: 1.375rem;
    }
  }

  h5 {
    margin-block-start: 2.5rem;
    margin-block-end: 1rem;
    font-size: 1.15rem;
    font-weight: 700;

    @include mix.mq("md") {
      font-size: 1.25rem;
    }
  }

  h6 {
    margin-top: 1.5rem;
    margin-bottom: 1rem;
    font-size: 1.075rem;
    font-weight: 700;

    @include mix.mq("md") {
      font-size: 1.125rem;
    }
  }

  ul,
  ol {
    padding-inline-start: 1.5rem;

    > * {
      margin-block: 0.5rem;
    }
  }

  line-height: 1.8;
  letter-spacing: 0.025em;
  overflow-wrap: break-word;
}
